@import '/src/Theme.scss';

.education-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    column-gap: 20px;

    @media (max-width: 767.98px){
    	grid-template-columns: minmax(0, 1fr);
    }

    .education-item {
        margin: 20px;
        text-align: center;

        .institute-picture {
            max-width: 50px;
            border-radius: 50%;
        }

        .institute-name {
            font-weight: bold;
            font-family: $headingFont;

            @media (prefers-color-scheme: dark) {
                color: $dark-headingColor;
            }
        }

        .institute-location {
            font-size: small;
            font-weight: normal;
        }

        .degree-name {
            font-weight: bold;
            font-size: large;
            font-family: $headingFont;
            color: $dark-companyNameColor;
        }

        .grade {
            font-size: small;
        }
    }
}