@import "../../Theme.scss";

.profile-container {
    width: 100%;
    text-align: center;

    .profile-picture {
        max-width: 200px;
        border-radius: 50%;
    }

    .name {
        font-size: xx-large;
        font-weight: 400;
        margin-top: 5px;
    }

    .title {
        font-family: $headingFont;
    }

    .icons-container {
        margin-top: 5px;
        
        a {
            font-size: x-large;
            margin: 5px 5px;
            transition: 0.3s;
            text-decoration: none;
        }

        // a:hover {
        //     font-size: xx-large;

        //     .label {
        //         width: 100%;
        //     }
        // }
    }

    @media (prefers-color-scheme: light) {
        .profile-picture {
            border: 3px solid $light-profilePicBorder;
        }

        .title {
            color: $light-titleColor;
        }

        .icons-container * {
            color: $light-bodyColor;
        }
    }
    
    @media (prefers-color-scheme: dark) {
        .profile-picture {
            border: 3px solid $dark-profilePicBorder;
        }

        .title {
            color: $light-titleColor;
        }

        .icons-container * {
            color: $dark-bodyColor;
        }
    }
}