@import "/src/Theme.scss";

.skills-container {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

    @media (max-width: 767.98px){
    	display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .skills {
            margin-top: 20px;
        }
    }

    .skills {
        text-align: center;

        .header {
            font-weight: bold;
            font-size: large;
            font-family: $headingFont;
            
            @media(prefers-color-scheme: light) {
                color: $light-titleColor;
            }

            @media(prefers-color-scheme: dark) {
                color: $dark-titleColor;
            }
        }
        .skills-list {
            margin-top: 10px;

            .tooltip {
                font-size: small;
            }
        }
        .skills-list * {
            margin: 0px 5px;
            font-size: x-large;
        }
    }
}