$dark-mainBackground: #1F2937;
$dark-cardBackground: #111827;
$dark-headingColor: white;
$dark-bodyColor: white;
$dark-titleColor: #5ABA81;
$dark-companyNameColor: #5ABA81; 
$dark-profilePicBorder: #5ABA81;