$light-mainBackground: white;
$light-cardBackground: grey;
$light-headingColor: black;
$light-bodyColor: black;
$light-titleColor: #5ABA81;
$light-companyNameColor: #5ABA81;
$light-profilePicBorder: #5ABA81;