$light-mainBackground: white;
$light-cardBackground: white;
$light-headingColor: black;
$light-bodyColor: rgb(59, 59, 59);
$light-titleColor: #5ABA81;
$light-companyNameColor: #5ABA81;
$light-profilePicBorder: #5ABA81;